/* Estilos base para dispositivos móviles */

.body{
    background-color: #5f5f5f;
}

.verde {
    color: rgb(0, 148, 0);
}

.container {
    margin-top: -5vh;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.square {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: auto;
    border: auto;
    border-radius: 5px;
    border: 2px solid;
    margin: 0 5px; 
}

.square p {
    margin: 0px;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.square.square1 {
    border-color: rgb(0, 4, 234);
}

.square.square2 {
    border-color: rgb(0, 192, 109);
}

.square.square3 {
    border-color: rgb(245, 212, 0);
}

.squarex {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 1px;
}

.main-centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Ajusta la altura del contenedor principal */
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 100px; /* Agrega margen inferior para dejar espacio para el pie de página */
}

.title-container {
    margin-top: 1vh;
}

.container-form {
    margin-top:-1vh;
    background-color: #5f5f5f;
}

.custom-input {
    height: 50px;
}

footer {
    background: linear-gradient(to right, #1a1a1a, #0d4683);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: -5vh;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

.col-sm-6 {
    align-self: flex-start;
}

/* Media query para dispositivos de pantalla grande (escritorio) */
@media only screen and (min-width: 768px) {
    .container {
        margin-top: -10vh;
        display: flex;
        gap: 1rem; /* Espaciado entre las tarjetas */
        margin-left: auto;
        margin-right: auto;
    }

    .square {
        width: 30%; /* Reducir el ancho en pantallas grandes */
        text-align: center;
        line-height: 1.5;
        font-size: 20px;
    }

    .main-centrado {
        margin-top: -1vh; /* Reducir el margen superior en pantallas grandes */
        margin-bottom: 50px; /* Ajustar el margen inferior */
    }

    footer {

        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10vh;
    }

}