.verde {
    color: rgb(0, 148, 0);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1%;
}

.square {
    width: 30%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin: auto;
    padding: auto;
}

.square p {
    margin: 1px;
}

.square.square1 {
    border-color: rgb(0, 4, 234);
}

.square.square2 {
    border-color: rgb(0, 192, 109);
}

.square.square3 {
    border-color: rgb(245, 212, 0);
}

.squarex {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 2px;
    margin-top: 1%;
}

.main-centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 7%;
    margin-top: -3%;
}

.title-container {
    margin-top: 1%;
}

.container-form {
    margin-top: 1%;
}

.custom-input {
    height: 50px;
}

footer {
    background: linear-gradient(to right, #1a1a1a, #0d4683);
    color: white;
    text-align: center;
    padding: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 2%;
}

footer a {
    text-decoration: none;
    color: white;
}

.col-sm-6 {
    align-self: flex-start;
}
