@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    flex-direction: column;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto; /* Dos filas, 50% y 50% de alto */
    height: 100vh;
    margin: 0px;
    border-style: solid;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.left-column,
.middle-column,
.right-column {
    padding: 10px;
    border-style: solid;
    margin: 0px;
}

.middle-column {
    display: flex;
    flex-direction: column;
    background-color: grey;
    grid-column: 1;
    grid-row: 2;
    border-width: 1px;
}

.middle-column p,
.middle-column h1 {
    margin: 5px 0; 
    padding: 5px 0;
    text-align: left;
    line-height: 15px; /* Puedes ajustar este valor según lo que necesites */
}

.right-column {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1 / span 2;
    /* Ocupa dos filas */
    border-width: 0px;
    text-align: left;
    margin-top: 0px;
    line-height: 15px;
}


.left-column {
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 173, 173);
    grid-column: 1;
    grid-row: 1; 
    border-width: 1px;
}

.left-column_img {
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.left-column p,
.left-column h2,
.left-column h3 {
    margin: 5px 0; 
    padding: 5px 0;
    text-align: left;
}

.It{
    width: 20px;
    height: 20px;
}

/* Media query para responsive */
@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 50%;
        border-width: 2px;
        /* Muestra las columnas divididas al 50% en patallas chicas */
    }

    .left-column,
    .middle-column,
    .right-column {
        grid-column: initial;
        /* Reseta el lugar de la columna */
        background-color: white;
        /* Cambia a blanco el color de los elementos indicados y agrega bordes */
        border-style: solid;
        border-width: 2px;
        text-align: center;
        }
        .right-column p,
.right-column h4,
.right-column h3
 {
    margin: 5px 0; 
    padding: 5px 0; 
}

    
}